#about {
  background-color: $primary-color;
  background-image: linear-gradient(
    135deg,
    $primary-color 20%,
    $secondary-color 80%
  );
  color: $white-color;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;
  @include respond(tab-land) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .about-wrapper {
    grid-template-columns: 1fr 1fr;
    @include respond(phone) {
      padding-bottom: 5rem;
      grid-template-columns: 1fr;
    }

    &__image {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      .pendulum {
        position: relative;
        width: 220px;
        height: 400px;
        background-color: #f8c6cf;
        border-radius: 5%;
        align-items: center;
        border-top: 15px solid #eee7d5;
        display: flex;
        justify-content: center;
        transform: translateZ(0);
      }

      .pendulum_box {
        display: flex;
        padding: 120px 0 0 10px;
        position: relative;
        width: 100%;
        justify-content: space-between;
      }

      .ball {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #455681;
        position: relative;
        transform-origin: 50% -300%;
      }

      .ball::before {
        content: "";
        width: 2px;
        height: 120px;
        background-color: #fffeff;
        left: 18px;
        top: -120px;
        position: absolute;
      }

      .ball.first {
        animation: firstball 0.9s alternate ease-in infinite;
      }

      @keyframes firstball {
        0% {
          transform: rotate(35deg);
        }
        50% {
          transform: rotate(0deg);
        }
      }

      .ball.last {
        animation: lastball 0.9s alternate ease-out infinite;
      }

      @keyframes lastball {
        50% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-35deg);
        }
      }

      @include respond(tab-land) {
        height: 100%;
      }
      @include respond(tab-port-sm) {
        padding-bottom: 4rem;
      }
    }
    &__info {
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;
      text-align: left;
      @include respond(tab-port-sm) {
        align-items: center;
        text-align: center;
      }
    }
  }
}
